.cara{
    font-family: 'Titillium Web', sans-serif;
    background-image:linear-gradient(rgba(238, 230, 230, 0.87),rgba(255, 255, 255, 0.8)), url(../images/portada.jpeg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 4rem;
}
#topheader .navbar-nav li.active > a {
	background-color: #333;
	color: #fff;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

header {
    margin-top: 85px;
}

.menu {
    position: relative;
    border: 10px solid rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
}
ul{
    background-color: rgba(255, 255, 255, 0.308);
    padding: 12px 0px 0px 0px;
}
.menu > ul > li{
    margin: 0px 30px;
    
}

.menu > ul > li> a{
    color: #000;
    font-size: 1.2rem;
}

.menu > ul > li > a:hover{
    background-color:#6db3ecc2;
    color: #2c2b2b;
}

footer {
    background: url(../images/Fondo.jpg);
    
}
.Container {
    display: flex;
}
.Titulo{
    
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.info button{
    width: 100%;
    padding: 10px;
    margin: 60px 0px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #2196f3, #f8bbd0, #2196f3);
    background-size: 200%;
    font-size: 1rem;
    color: #fff;
    transition: .5s;
    font-family: 'Jost', sans-serif;
}

.info button:hover{
    background-position: right;
}

.info{
   position: relative;
   text-align: center;
   padding: 15px;
}

.info h1{
    font-family: 'Kaushan Script', cursive;
}


.flex{
    display: flex;
}
.card{
    background: #f5c0e5;
}
.card-body{
    background: rgb(236, 122, 160);
    border: 1px solid #f76e9e;
}

.form-group{
    border: 1px solid #f76e9e;
}

.info-wrap{
    background-color:#6db3ecc2;
    height: 600px;
}
