.cara{
    background-image:linear-gradient(rgba(238, 230, 230, 0.87),rgba(255, 255, 255, 0.8)), url(../images/portada.jpeg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    position: relative;
    border: 10px solid rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
}
ul{
    background-color: rgba(255, 255, 255, 0.308);
    padding: 12px 0px 0px 0px;
}
.menu > ul > li{
    margin: 0px 30px;
    
}

.menu > ul > li> a{
    color: #000;
    font-size: 1.2rem;
}

.menu > ul > li > a:hover{
    background-color:#6db3ecc2;
    color: #2c2b2b;
}

.portada{
    text-align: center;
    font-family: 'Kaushan Script';
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 9% 0px 0px ;
    border: 10px solid rgb(255, 255, 255);
}
.portada .textoServi h1{
    font-size: 5rem;
    padding: 30px 0px 0px 60px;
}

.portada .textoServi h1 h2{
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
}

.portada img{
    margin-top: -10%;
    margin-left: -5%;
    width: 95%;
    height: 60vh;
}

.titulos{
    font-family: 'Kaushan Script', cursive;
    padding: 0px 30px 30px 30px;
    font-size: 3rem;
}

.two{
    background: rgba(0, 132, 255, 0.205);
    padding: 50px;
    
}

.servi{
    padding: 5%;
}

.par{
    font-family: 'Jost', sans-serif;
    padding: 20px 0px 0px 0px;
}